[access "refs/heads/*"]
abandon = group contrail-zuul-jobs-core
label-Code-Review = -2..+2 group contrail-zuul-jobs-core
label-Workflow = -1..+1 group contrail-zuul-jobs-core

[access "refs/tags/*"]
pushSignedTag = group contrail-zuul-jobs-release

[receive]
requireChangeId = true

[submit]
mergeContent = true
